@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("OpenSans"),
         /* Если не получилось, загрузит woff2 */
        url("/mq-diploma/sources/fonts/OpenSans-Regular.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
        url("/mq-diploma/sources/fonts/OpenSans-Regular.woff") format("woff"),
        url("/mq-diploma/sources/fonts/OpenSans-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("OpenSans"),
         /* Если не получилось, загрузит woff2 */
        url("/mq-diploma/sources/fonts/OpenSans-Bold.ttf") format("ttf"),
         /* Если браузер не поддерживает woff2, загрузит woff */
        url("/mq-diploma/sources/fonts/OpenSans-Bold.woff") format("woff"),
        url("/mq-diploma/sources/fonts/OpenSans-Bold.woff2") format("woff2");
}